<div id="container-About">

<div id="about-us">
	<h2 id="about-title">About Us</h2>
	<p id="about-section">
		Primary Mission: To restore and improve the intelligent universe by promoting the interests, and serving the needs, of humanity and the natural world.
		Social Mission: We recognize the role our business plays in society by improving the quality of life locally, nationally, and globally. We support nonviolent ways to achieve peace and justice. We believe resources are more productively used in meeting human needs than in building and maintaining weapons systems. Even if we disagree, we love you anyway. Sharing peace and love is our primary purpose.
		Product Mission: We make, distribute, and sell only the finest environmental papers for an Organic Origami Planet (OOP) and we at OOP are continually committed to the use of wholesome natural ingredients, and we promote business practices that respect humanity, Earth, and the environment. We strive to minimize, and eventually counteract, any negative impact on the environment.
		Economic Mission: We operate using sustainable financial practices, increasing both value and profits for our shareholders while expanding opportunities for development and growth. We Restore and Improve wherever we go, offering fair wages and work practices, both domestically and abroad.
	</p>
</div>

 </div>