<!DOCTYPE html>
 <html lang="en-US" 
<head>
<meta charset="UTF-8"/> 
	<% @title="In Action" %>

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
 	 <script src="js/script.js"></script>
</head>	
 <body>
   <div id="container-InAction" class="fade">
    </div>

    <IMG class="displayed" src="/images/actionwave.jpg" alt="center"
	 width="950" height="633"/>
	  <IMG class="displayed" src="/images/mask.jpg" alt="center"
	   width="950" height="633"/>
	    <IMG class="displayed" src="/images/action3.jpg" alt="center"
		 width="950" height="633"/>
	      <IMG class="displayed" src="/images/action2.jpg" alt="center"
			width="950" height="633"/>
	       <IMG class="displayed" src="/images/yoda.jpg" alt="center"
			 width="950" height="633"/>
              <IMG class="displayed" src="/images/inaction1.jpg" alt="center"width="950" height="633"/>
              <IMG class="displayed" src="/images/fashion3.jpg" alt="center" width="950" height="633"/>
                <IMG class="displayed" src="/images/learn.jpg" alt="center" width="950" height="633"/>
                </div>

	<div class="icons">
	 <img class="world" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/sprite.png" alt=""/>
      <img class="info" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/sprite.png" alt=""/>
       <img class="mail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/sprite.png" alt=""/>
        </div>
		<p>Contact us at the OOP for pricing on our servies<a href="mailto:DannyCat@OOP.com"> Email Us </a></p>
</body>
</html>