<!DOCTYPE html>
 <html lang="en-US" 
<head>
<% @title="In Action" %>
 <div id="container-InAction">
 </div>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="js/script.js">
	</script>
  
   <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png?v=3"/>
   <link rel="shortcut icon" href="/favicon.ico?v=6"> 
	

	<meta charset="UTF-8"/> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Origami In Action</title>
 
</head>
	<body class="single single-post postid-29346 single-format-standard custom-font-enabled">
	<nav id="menu" class="panel left js-panel-left" role="navigation">
	<div class="panel-wrap">
	<ul class="subcats">
	<li><a href="/category/art/">Art</a></li>
	<li><a href="/category/design/">Design</a></li>
	<li><a href="/category/photography/">Photography</a></li>
	<li><a href="/category/illustration/">Illustration</a></li>
	<li><a href="/category/craft/">Craft</a></li>
	<li><a href="http://colossalshop.com/" class="shop-color">Shop</a></li>

 </div>

	</ul>
	</nav>
	<div id="content-adwrapper">
	<div id="mobile_320"></div>
	</div>
	<div id="main" class="wrapper">
	<div class="fluid">
	<div id="primary" class="site-content">
	<div id="content" role="main">
	<article id="post-29346" class="post-29346 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-design tag-paper tag-origami tag-projection tag-geometric">
	<header class="entry-header">
	<ul class="post-categories">

</header> 
<div class="entry-content">
<p><img src="/images/actionwave.jpg" width="640" height="393" class="alignnone size-full wp-image-29347"/></p>

<p><img src="/images/action2.jpg" width="950" height="633" class="alignnone size-full wp-image-29349"/></p>

<p><img src="/images/inaction1.jpg" width="640" height="900" class="fade"/></p>

<p><img src="/images/fashion3.jpg" width="640" height="396" class="alignnone size-full wp-image-29348"/></p>

</body>
</html>