<!DOCTYPE html>
 <html lang="en-US" 
<head>
<meta charset="UTF-8"/> 
	<% @title="In Action" %>

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
 	 <script src="js/script.js"></script>
</head>	
 <body>
   <div id="container-InAction" class="fade">
    </div>
	
  	<div id="gallery-container">
  		<div class="g-line">
  			<a href="/images/actionwave.jpg"><img src="/images/actionwave.jpg" class="dummy"></a>
  			<a href="/images/mask.jpg"><img src="/images/mask.jpg" class="dummy"></a>
		</div>
		<div class="g-line">
  			<a href="/images/action3.jpg"><img src="/images/action3.jpg" class="dummy"></a>
  			<a href="/images/starwars.jpg"><img src="/images/starwars.jpg" class="dummy"></a>
  			<a href="/images/yoda.jpg"><img src="/images/yoda.jpg" class="dummy"></a>
		</div>
		<div class="g-line">
  			<a href="/images/inaction1.jpg"><img src="/images/inaction1.jpg" class="dummy"></a>
  			<a href="/images/fashion3.jpg"><img src="/images/fashion3.jpg" class="dummy"></a>
		</div>
		<div class="g-line">
  			<a href="/images/learn.jpg"><img src="/images/learn.jpg" class="dummy"></a>
  			<a href="/images/action2.jpg"><img src="/images/action2.jpg" class="dummy"></a>
  			<a href="/images/action8.jpg"><img src="/images/action8.jpg" class="dummy"></a>
		</div>
  	</div>

	<div class="icons">
	 <img class="world" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/sprite.png" alt=""/>
      <img class="info" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/sprite.png" alt=""/>
       <img class="mail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/sprite.png" alt=""/>
        </div>
		<p>Contact us at the OOP for pricing on our servies<a href="mailto:DannyCat@OOP.com"> Email Us </a></p>
</body>
</html>