 <div id="container-LearnIt">
	<div id="links-div">
		<div class="link-box">
			<a href="https://meganpeganallen.wordpress.com" class="title"><h4>Fashion with Origami</h4></a>
			<p class="link-ref">
				asd;lkjfal;sdjf;lajsdf;lkajsdl;fjkas;ldkfjl;sa
				al;sdjf;klasjdf;kljas;dlfkj;alskjdf;lkajsdflas
				alsjdf;lkasjd;flja;sldjfalskdjflasjdfl;kajsdkl
				al;skjdf;laksjdf;lajsd;lkfj;alsdkfj;asldkfjsjk
			</p>
		</div>
		<div class="link-box">
			<a href="http://www.thisiscolossal.com" class="title"><h4>Art in Origami</h4></a>
			<p class="link-ref">
				alsdjf;lkasjdf;lkjasdlfj;alsdjkf;lasjdf;lasfj
				asdlfja;lsdkjf;lajksdf;lkjasd;fljkas;ldjkflksjdf
				asdlkfja;sldkjf;lasdjf;lasjdfl;ajsdf;ljas;ldfjkas
				aslkjdf;lakjsdf;lkjasdl;fja;sldjf;lakjsdflj
				asdlkfj;alskdjf;lakjsdf;lajsd;lfkjas;dlfjk
			</p>
		</div>
		<div class="link-box">
			<a href="#" class="title"><h4>link goes here</h4></a>
			<p class="link-ref">
				a;sdjf;lajsdf;lajsd;lfjkas;ldjkf;lajksdfk
				asdkjf;alksjdf;lajsdf;ljas;dlfjk;alsdjkf
				asdkjf;alskdjf;lakjsdf;lkajsd;lfjka;lskdjfas
				klasdjf;lkajsd;fljas;ldfja;lskdjf;lakjsdf
			</p>
		</div>
		<div class="link-box">
			<a href="#" class="title"><h4>link goes here</h4></a>
			<p class="link-ref">
				asld;jflakjsdflkjasdl;fjkas;dlkfj;alsdjkf
				aslkfja;lsdjkf;lajksdf;lkajsdf;lkjas;ldkjf
				askdjf;laskdjf;lajksdf;ljasd;lfjkaskljdf
				asdflkjasdlfja;sldkfj;lakjsdf;lkajsd;fljkasdk
			</p>
		</div>
	</div>
 </div>
