<% @title="Learn It!" %>

 <div id="container-LearnIt">
	<div id="links-div">
		<div class="link-box">
			<a href="https://meganpeganallen.wordpress.com" class="title"><h4>Fashion with Origami</h4></a>
			<p class="link-ref">
				This website is about Megan Allen and her works of
				origami dresses. Check it out and be inspired by the
				massively complicated dresses she makes. 
			</p>
		</div>
		<div class="link-box">
			<a href="http://www.thisiscolossal.com" class="title"><h4>Art in Origami</h4></a>
			<p class="link-ref">
				Fascinating resource of how art work is created with
				origami's and how origami's are a work of art. Check 
				this page out and take a look at how this paper art
				form is 
			</p>
		</div>
		<div class="link-box">
			<a href="https://www.youtube.com/watch?v=AWvUidNtC7s" class="title"><h4>10 Most amazing origami's of all time!</h4></a>
			<p class="link-ref">
				Take a look at these origami's that people have created.
				These things are truly a work of art and you should 
				attempt to make them on your own. Challenge yourself!
			</p>
		</div>
		<div class="link-box">
			<a href="http://www.origami-instructions.com/origami-dragon.html " class="title"><h4>Tutorial for a Dragon Origami</h4></a>
			<p class="link-ref">
				Here is a simple tutorial on how to make a Dragon 
				Origami. Make a couple of these and start your
				journey in making beautiful origami's!
			</p>
		</div>
	</div>
 </div>
